<mat-toolbar color="green" class="exp-toolbar" >
  <span><button mat-button routerLink="/">{{title}}</button></span>
  <span><button mat-button >{{login | uppercase}}</button></span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button routerLink="/login" *ngIf="!isAuth">Login</button>
  <button mat-button routerLink="/register" *ngIf="!isAuth">Register</button>
  <button mat-button *ngIf="isAuth" (click)='logout()'>Logout</button>
</div>
</mat-toolbar>
<router-outlet></router-outlet>
