<mat-card *ngIf="isIdReceived">
  <mat-card-content>
    <h2> Registration </h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-error *ngIf="registerError!=''">
        {{registerError}}
      </mat-error>

      <mat-form-field class="full-width-input">
      <input matInput formControlName="login"
             type="text"
             required
             pattern="[A-Za-z]{4,16}"
             title="Login must consist only of letters and their number is at least 4!"
             placeholder="Login">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="firstName"
               type="text"
               required
               pattern="([A-Z]{1}[a-z]{3,15})"
               title="The field must start with a capital letter and have at least 3 characters!"
               placeholder="First Name">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="lastName"
               type="text"
               required
               pattern="([A-Z]{1}[a-z]{3,15})"
               title="The field must start with a capital letter and have at least 3 characters!"
               placeholder="Last Name">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               placeholder="Password"
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <select (ngModelChange)="roleChoose($event)" formControlName="role" matNativeControl required>
          <option value="Student"> Student </option>
          <option value="Teacher"> Teacher </option>
        </select>
      </mat-form-field>

      <mat-form-field *ngIf="isGroup" appearance="fill">
        <mat-label>Group</mat-label>
        <select formControlName="groupName" matNativeControl required>
          <option *ngFor="let group of groups" [ngValue]="group.name"> {{ group.name }} </option>
        </select>
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" [disabled]="!registerForm.valid"> Register </button>
    </form>
  </mat-card-content>
  </mat-card>
