<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="row" *ngIf="testService.qns && this.testService.qnProgress != 10">
  <div class="col s8 offset-s2">
    <span>Time Elapsed : {{testService.displayTimeElapsed()}}</span>
    <div class="progress">
      <div class="determinate" [style.width.%]="(testService.qnProgress+1)*10"></div>
    </div>
    <div class="card darken-1">
      <div class="card-content white-text">
        <span class="card-title" style="color:black">Question #{{testService.qnProgress+1}}</span>
        <p style="color:black"> {{testService.qns[testService.qnProgress].qn}}</p>
      </div>
      <div class="card-action">
        <ul class="answer">
          <ng-container *ngFor="let option of testService.qns[testService.qnProgress].options; let i = index">
            <button style="margin-bottom: 10px; width: 100%;" *ngIf="option != null" class="btn collection-item" (click)="Answer(testService.qns[testService.qnProgress].qnID, i)" >
              {{option}}
            </button>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
