<div class="page_container">

<div>
  <button mat-button (click)="goToMain()" >Main</button>
  <button mat-button (click)="activeUsersManager()" >User Manager</button>
  <button mat-button (click)="activeGroupManager()" >Group Manager</button>
</div>

<mat-card *ngIf="mainManager">
  <mat-card-content>
  <mat-card-title>
    Teacher list
  </mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let teacher of teachers; let i = index;">
 {{i+1}}. Teacher: First Name: {{teacher.firstName}} Last Name: {{teacher.lastName}}, Login: {{teacher.login}}, Role: {{teacher.role}} <button mat-icon-button (click)="apply(teacher)"> <mat-icon>check_circle</mat-icon></button> <button mat-icon-button (click)="deleteStudent(teacher.id)"> <mat-icon>delete</mat-icon></button>
 </mat-list-item>
</mat-list>
<div *ngIf="teachers.length == 0">
  Teacher list is empty.
</div>
</mat-card-content>
</mat-card>

<mat-card *ngIf="mainManager">
  <mat-card-title>
    Student list
  </mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let student of students; let i = index;">
 {{i+1}}. First Name: {{student.firstName}}; Last Name: {{student.lastName}}; Login: {{student.login}}; Role: {{student.role}} <button mat-icon-button (click)="apply(student)"> <mat-icon>check_circle</mat-icon></button> <button mat-icon-button (click)="deleteStudent(student.id)"> <mat-icon>delete</mat-icon></button>
 </mat-list-item>
</mat-list>
<div *ngIf="students.length == 0">
  Student list is empty.
</div>
</mat-card>
<!--Main Manager End-->

<!--Group Manager-->
<div *ngIf="groupManager" style="text-align: center;">
<h1>Groups List</h1>

<mat-error *ngIf="myError!=''">
  {{myError}}
</mat-error>

<button mat-button style="background-color:green; color: white;" (click)="addGroup()">Add</button>
<table style="margin: 0 auto;" *ngIf="tableMode; else create">
    <thead>
        <tr>
            <td><mat-card-title>Group Name</mat-card-title></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of groups">
            <ng-template [ngIf]="group?.id != g.id" [ngIfElse]="edit">
                <td><mat-card-header>{{g?.name}}</mat-card-header></td>
                <td>
                    <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="editGroup(g)">Edit</button>
                    <button mat-button style="background-color:red; color: white;" (click)="deleteGroup(g)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--Template for edit-->
<ng-template #edit>
    <td>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="group.name" class="form-control" #groupN />
        </mat-form-field>
    </td>
    <td>
        <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="saveGroup()" class="btn btn-sm btn-success" [disabled]="!groupN.validity.valid">Save</button>
        <button mat-button style="background-color:red; color: white;" (click)="cancelGroup()" class="btn btn-sm btn-warning">Cancel</button>
    </td>
</ng-template>

<!--Template for create-->
<ng-template #create>
<mat-card>
  <mat-card-content>
    <mat-form-field class="full-width-input">
        <input matInput placeholder="Group Name"
        required
        #groupN
        [(ngModel)]="group.name"
        class="form-control"
        pattern="[A-Za-z0-9-]{2,10}"
        title='The field must be in the following format: "IP-64" '/>
    </mat-form-field>
    <div>
        <button mat-button (click)="saveGroup()" [disabled]="!groupN.validity.valid">Save</button>
        <button mat-button style="background-color:red; color: white;" (click)="cancelGroup()">Cancel</button>
    </div>
  </mat-card-content>
</mat-card>
</ng-template>
</div>
<!--Group Manager End-->

<!--User Manager-->
<div *ngIf="userManager" style="text-align: center;">
  <h1>User List</h1>

  <mat-error *ngIf="myError!=''">
    {{myError}}
  </mat-error>

  <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="addUser()">Add </button>
  <table style="margin: 0 auto;" *ngIf="tableMode2; else create">
      <thead>
          <tr>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Login</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of users">
              <ng-template [ngIf]="user?.id != u.id" [ngIfElse]="edit">
                  <td><mat-card-header>{{u?.firstName}}</mat-card-header></td>
                  <td><mat-card-header>{{u?.lastName}}</mat-card-header></td>
                  <td><mat-card-header>{{u?.login}}</mat-card-header></td>
                  <td>
                      <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="editUser(u)">Edit</button>
                      <button mat-button style="background-color:red; color: white;" (click)="deleteUser(u)">Delete</button>
                  </td>
              </ng-template>
          </tr>
      </tbody>
  </table>

  <!--Template for edit-->
  <ng-template #edit>
      <td>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="user.firstName" class="form-control" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
        <input matInput type="text" [(ngModel)]="user.lastName" class="form-control" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
        <input matInput type="text" [(ngModel)]="user.login" class="form-control" />
        </mat-form-field>
      </td>
      <!-- <td>
        <select [(ngModel)]="user.role" matNativeControl required>
          <option value="Student"> Student </option>
          <option value="Teacher"> Teacher </option>
        </select>
      </td> -->
      <td>
          <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="saveUser()" class="btn btn-sm btn-success">Save</button>
          <button mat-button style="background-color:red; color: white;" (click)="cancelUser()" class="btn btn-sm btn-warning">Cancel</button>
      </td>
  </ng-template>

  <!--Template for create-->
  <ng-template #create>
    <mat-card>
      <mat-card-content>

        <mat-form-field class="full-width-input">
          <input matInput [(ngModel)]="user.login"
                 type="text"
                 required
                 pattern="[A-Za-z]{4,16}"
                 title="Login must consist only of letters and their number is at least 4!"
                 placeholder="Login"
                 #loginF/>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput [(ngModel)]="user.firstName"
                 type="text"
                 #firstN
                 required
                 pattern="([A-Z]{1}[a-z]{3,15})"
                 title="The field must start with a capital letter and have at least 3 characters!"
                 placeholder="First Name"/>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput [(ngModel)]="user.lastName"
                 type="text"
                 #lastN
                 required
                 pattern="([A-Z]{1}[a-z]{3,15})"
                 title="The field must start with a capital letter and have at least 3 characters!"
                 placeholder="Last Name"/>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput [(ngModel)]="user.password"
                 type="password"
                 required
                 #passwordF
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 placeholder="Password"
                 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <select (ngModelChange)="roleChoose($event)" [(ngModel)]="user.role" matNativeControl #roleF required>
            <option value="Student"> Student </option>
            <option value="Teacher"> Teacher </option>
          </select>
        </mat-form-field>

        <mat-form-field *ngIf="isGroup" appearance="fill">
          <mat-label>Group</mat-label>
          <select [(ngModel)]="user.groupName" matNativeControl required>
            <option *ngFor="let group of groups" [ngValue]="group.name"> {{ group.name }} </option>
          </select>
        </mat-form-field>

        <div>
          <button mat-button [disabled]="!firstN.validity.valid || !loginF.validity.valid || !lastN.validity.valid || !passwordF.validity.valid || !roleF.validity.valid" (click)="saveUser()">Save</button>
          <button mat-button style="background-color:red; color: white;" (click)="cancelUser()" class="btn btn-warning">Cancel</button>
        </div>

    </mat-card-content>
    </mat-card>
  </ng-template>
  </div>
<!--User Manager End-->
</div>
