<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="row">
  <div class="col s8 offset-s2">
    <h2 class="header">Completed!</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h4>Your result is:</h4>
          <h3>{{testService.correctAnswerCount}}/10</h3>
          <span>Time Elapsed : {{testService.displayTimeElapsed()}}</span>
        </div>
        <div class="card-action">
          <button class="btn" (click)="OnSubmit()">Submit</button>
        </div>
      </div>
    </div>

    <!-- Question with correct answer -->
    <h3>Question with correct answer</h3>
    <ng-container *ngFor="let qn of testService.qns;let i=index">
        <div class="card darken-1">
            <div class="card-content white-text">
                <span style="color:black" class="card-title">{{i+1}}</span>
                <p style="color:black"> {{testService.qns[i].qn}}</p>
            </div>
            <div class="card-action">
                <ul class="collection">
                    <ng-container *ngFor="let option of qn.options;let j = index">
                        <li *ngIf="option != null" class="collection-item">
                            {{option}}
                            <span class="badge" *ngIf="qn.correct==j">
                                <i class="material-icons green-text">check_circle</i>
                            </span>
                            <span class="badge red-text" *ngIf="qn.answer==j && qn.correct!=j">Incorrect</span>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </ng-container>
  </div>
</div>
