<div class="page_container">

<div *ngIf="!currentUser.isActivate" class="container">
  <p>Dear student, please wait while the admin to confirm your account!</p>
</div>

<div *ngIf="currentUser.isActivate">
  <button mat-button (click)="goToMain()">
    Main
  </button>
  <button mat-button (click)="showResults()">
    Show Results
  </button>

<div *ngIf="!showResultsParam">
  <!-- <button *ngFor="let test of tests" mat-button (click)="goToTest(test.id, test.name)"> {{test.name}} </button> -->
  <h1>Hello, {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
  <h1>Your student group is "{{group.name}}"</h1>
  <h2>All your available tests:</h2>
  <div class="search-div">
    <!-- <button mat-raised-button>
      <mat-icon>add</mat-icon>Create
    </button> -->
    <mat-form-field style="margin-left: 5px;" class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Test Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > <button mat-button (click)="goToTest(element.id, element.name)">{{element.name}}</button> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- <button mat-icon-button><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

   </mat-table>
   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>

</div>

  <div *ngIf="showResultsParam" >
    <h1>All the results of your tests:</h1>
    <h2 *ngIf="studentResults.length == 0">You haven't taken any tests yet. {{studentResults}}</h2>
    <table *ngIf="studentResults.length != 0" class="responstable">
    <tr>
      <th>Test Name</th>
      <th style="text-align: center">Result</th>
      <th style="text-align: center">Time</th>
    </tr>
    <tr *ngFor="let result of studentResults">
      <td>{{result.test.name}}</td>
      <td style="text-align: center">{{result.testResult}}/10</td>
      <td style="text-align: center">{{testService.getParcedTime(result.time)}}</td>
    </tr>
  </table>

  </div>

</div>

</div>
