<div class="page_container">

<div *ngIf="!currentUser.isActivate" class="container">
  <p>Dear teacher, please wait while the admin to confirm your account!</p>
</div>

<div *ngIf="currentUser.isActivate">
  <button mat-button (click)="goToMain()">
    Main
  </button>
  <button mat-button (click)="testManager()">
    Test Manager
  </button>
  <button mat-button (click)="addTestManager()">
    Add Test
  </button>
  <button mat-button (click)="showAllResults()">
    Show All Results
  </button>

<div *ngIf="isMain">
  <h1>Hello, {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
</div>

<div *ngIf="isAddTestManager">
<div *ngIf="!this.isAddTests" style="margin: 0 auto; width: 600px; margin-top: 10px;">
  <mat-card >
    <mat-card-content>
      <h2> Test </h2>
        <mat-error *ngIf="myError!=''">
         <p> {{myError}} </p>
        </mat-error>
        <mat-form-field class="full-width-input">
        <input [(ngModel)]="this.testName" matInput
               type="text"
               required
               placeholder="Test Name"
               #testN
               pattern=".{4,}"
               >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Group</mat-label>
          <select [(ngModel)]="this.groupName" matNativeControl required >
            <option *ngFor="let group of groups" [ngValue]="group.name"> {{ group.name }} </option>
          </select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="addTestName()" [disabled]="!testN.validity.valid"> Create Test </button>
        </mat-card-content>
    </mat-card>
</div>
      <div *ngIf="this.isAddTests" style="margin: 0 auto; width: 600px; margin-top: 10px;">
        <mat-card>
          <h1 style="text-align: center;">{{this.testName}}</h1>
        <mat-card-content>
        <form [formGroup]="testForm" (ngSubmit)="addTest()">
          <mat-error *ngIf="myError!=''">
            {{myError}}
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="qn" required placeholder="Question Title">
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="option1"
                   type="text"
                   required
                   placeholder="Answer 1">
          </mat-form-field>
          <mat-form-field class="full-width-input">
              <input matInput formControlName="option2"
                     type="text"
                     required
                     placeholder="Answer 2">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="option3"
                     type="text"
                     required
                     placeholder="Answer 3">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="option4"
                     type="text"
                     required
                     placeholder="Answer 4">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Correct Answer</mat-label>
              <select formControlName="answer" matNativeControl required>
                <option value=1> 1 </option>
                <option value=2> 2 </option>
                <option value=3> 3 </option>
                <option value=4> 4 </option>
              </select>
            </mat-form-field>
            <br>
          <button mat-raised-button color="primary" style="margin: 0 auto" [disabled]="!testForm.valid"  > Add Test </button>
          </form>
        </mat-card-content>
      </mat-card>
      </div>
      <div style="margin: 0 auto; width: 600px;" *ngFor="let test of currentTests">
        <mat-card>
          <mat-card-content>
            <p>Question: <span style="font-weight: bold;">{{test.qn}}</span> </p>
            <p>Answer1: {{test.option1}} </p>
            <p>Answer2: {{test.option2}} </p>
            <p>Answer3: {{test.option3}} </p>
            <p>Answer4: {{test.option4}} </p>
            <p>Correct Answer: {{test.answer--1}} </p>
          </mat-card-content>
        </mat-card>
      </div>
</div>

<div *ngIf="isShowAllResults">
  <button mat-button style="background-color: #167f92; color:white; margin-right: 10px; margin-bottom: 10px;" *ngFor="let test of testsForResult" (click)="ShowTestResult(test.id, test.name)">
    {{test.name}}
  </button>

  <!-- <div *ngFor="let result of results">
    First Name: {{result.student.user.firstName}}
    Last Name: {{result.student.user.lastName}}
    Result: {{result.testResult}}/10
    Time: {{result.time}} seconds
  </div> -->
  <h1 *ngIf="curSelectedTest != null">The test named "{{curSelectedTest}}" is now selected.</h1>
  <table *ngIf="results != null" class="responstable">
    <tr>
      <th style="text-align: center">First name</th>
      <th style="text-align: center">Last Name</th>
      <th style="text-align: center">Result</th>
      <th style="text-align: center">Time</th>
    </tr>
    <tr *ngFor="let result of results">
      <td style="text-align: center">{{result.student.user.firstName}}</td>
      <td style="text-align: center">{{result.student.user.lastName}}</td>
      <td style="text-align: center">{{result.testResult}}/10</td>
      <td style="text-align: center">{{testService.getParcedTime(result.time)}}</td>
    </tr>
  </table>

  <div *ngIf="!showRes">Not results</div>
</div>

<!-- Tests manager-->
<div *ngIf="isTestManager" style="text-align: center;">
  <div *ngIf="isEditMode">
  <h1>Tests List</h1>

  <mat-error *ngIf="myError!=''">
    {{myError}}
  </mat-error>

  <table style="margin: 0 auto;" *ngIf="tableMode;">
      <thead>
          <tr>
              <td>Test Name</td>
              <td>Group Name</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let t of tests">
              <ng-template [ngIf]="test?.id != t.id" [ngIfElse]="edit">
                  <td><button mat-button style="background-color:black; color: white;" (click)="openEditTest(t)">{{t?.name}}</button></td>
                  <td>{{t.group.name}}</td>
                  <td>
                      <button mat-button style="background-color:green; color: white; margin-right: 5px;" class="btn btn-sm btn-primary" (click)="editTest(t)">Edit</button>
                      <button mat-button style="background-color:red; color: white;" class="btn btn-sm btn-danger" (click)="deleteTest(t)">Delete</button>
                  </td>
              </ng-template>
          </tr>
      </tbody>
  </table>

  <!--Template for edit-->
  <ng-template #edit>
      <td>
        <mat-form-field class="full-width-input">
          <input matInput type="text" [(ngModel)]="test.name" class="form-control" />
        </mat-form-field>
      </td>
      <td>
        {{test.group.name}}
      </td>
      <td>
          <button mat-button style="background-color:green; color: white; margin-right: 5px;"(click)="updateTest()" class="btn btn-sm btn-success">
            Save
          </button>
          <button mat-button style="background-color:red; color: white;" (click)="cancelTest()" class="btn btn-sm btn-warning">
            Cancel
          </button>
      </td>
  </ng-template>

</div>
  <div *ngIf="!isEditMode">
      <h1>Questions Answers List</h1>
      <button mat-button (click)="backToTestManager()"> Back </button>
      <button mat-button (click)="addQuestionAnswer()"> Add </button>

      <mat-error *ngIf="myError!=''">
        {{myError}}
      </mat-error>

      <table style="margin: 0 auto;" *ngIf="tableMode2; else create">
          <thead>
              <tr>
                  <td>Question</td>
                  <td>Answer 1</td>
                  <td>Answer 2</td>
                  <td>Answer 3</td>
                  <td>Answer 4</td>
                  <td>Correct Answer</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let qa of questionsAnswers">
                  <ng-template [ngIf]="questionAnswer?.qnId != qa.qnId" [ngIfElse]="edit">
                      <td>
                        {{qa?.qn}}
                      </td>
                      <td>
                        {{qa?.option1}}
                      </td>
                      <td>
                        {{qa?.option2}}
                      </td>
                      <td>
                        {{qa?.option3}}
                      </td>
                      <td>
                        {{qa?.option4}}
                      </td>
                      <td>
                        {{qa?.answer--1}}
                      </td>
                      <td>
                          <button mat-button style="background-color:green; color: white; margin-right: 5px;" class="btn btn-sm btn-primary" (click)="editQuestionAnswer(qa)">Edit</button>
                          <button mat-button style="background-color:red; color: white;" class="btn btn-sm btn-danger" (click)="deleteQuestionAnswer(qa)">Delete</button>
                      </td>
                  </ng-template>
              </tr>
          </tbody>
      </table>

      <!--Template for edit-->
      <ng-template #edit>
          <td>
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="questionAnswer.qn" class="form-control" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
              <input matInput type="text" [(ngModel)]="questionAnswer.option1" class="form-control" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
              <input matInput type="text" [(ngModel)]="questionAnswer.option2" class="form-control" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
              <input matInput type="text" [(ngModel)]="questionAnswer.option3" class="form-control" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
              <input matInput type="text" [(ngModel)]="questionAnswer.option4" class="form-control" />
            </mat-form-field>
          </td>
          <td>
              {{questionAnswer.answer++1}}
          </td>
          <td>
              <button mat-button style="background-color:green; color: white; margin-right: 5px;" (click)="saveQuestionAnswer()" class="btn btn-sm btn-success">
                Save
              </button>
              <button mat-button style="background-color:red; color: white;" (click)="cancelQuestionAnswer()" class="btn btn-sm btn-warning">
                Cancel
              </button>
          </td>
      </ng-template>
      <!--End template for edit-->

      <ng-template #create>
        <mat-card>
          <mat-card-content>
            <mat-form-field class="full-width-input">
              <input matInput #qnF [(ngModel)]="questionAnswer.qn" required placeholder="Question Title">
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput [(ngModel)]="questionAnswer.option1"
                     type="text"
                     required
                     #opt1
                     placeholder="Answer 1">
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput [(ngModel)]="questionAnswer.option2"
                       type="text"
                       required
                       #opt2
                       placeholder="Answer 2">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-input">
              <input matInput [(ngModel)]="questionAnswer.option3"
                       type="text"
                       required
                       #opt3
                       placeholder="Answer 3">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-input">
              <input matInput [(ngModel)]="questionAnswer.option4"
                       type="text"
                       required
                       #opt4
                       placeholder="Answer 4">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Correct Answer</mat-label>
                <select #ans [(ngModel)]="questionAnswer.answer" matNativeControl required>
                  <option value=1> 1 </option>
                  <option value=2> 2 </option>
                  <option value=3> 3 </option>
                  <option value=4> 4 </option>
                </select>
              </mat-form-field>
            <div>
                <button mat-button style="margin-right: 5px;" (click)="saveQuestionAnswer()" class="btn btn-success" [disabled]="!qnF.validity.valid || !opt1.validity.valid || !opt2.validity.valid || !opt3.validity.valid || !opt4.validity.valid || !ans.validity.valid" > Save </button>
                <button mat-button style="background-color:red; color: white;" (click)="cancelQuestionAnswer()" class="btn btn-warning"> Cancel </button>
            </div>
          </mat-card-content>
        </mat-card>
    </ng-template>
  </div>
  </div>
</div>
</div>
