<mat-card >
  <mat-card-content>
    <h2> Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-error *ngIf="loginError!=''">
        {{loginError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="login"
             type="text"
             required
             pattern="[A-Za-z0-9]{4,16}"
             title="Login must consist only of letters and their number is at least 4!"
             placeholder="Login">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               pattern=".{4,}"
               title="Password must consist at least 8 symbols!"
               placeholder="Password">
        </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid"> Login </button>
    </form>
  </mat-card-content>
  </mat-card>
